<div class="border rounded-3 p-4">
  <h2 class="mb-4">Filter Flights</h2>
  <%= form_with url: flights_path, method: :get do |f| %>
    <div class="vstack gap-3">
      <div class="hstack gap-3">
        <div class="w-100">
          <%= f.label :from, class: "form-label" %>
          <%= f.select :from, options_for_select(@airport_options, params[:from]),  {}, { class: "form-select", aria: { label: "Departure airport"} } %>
        </div>
        <div class="w-100">
          <%= f.label :to, class: "form-label" %>
          <%= f.select :to, options_for_select(@airport_options, params[:to]), {}, { class: "form-select", aria: { label: "Arrival airport"}} %>
        </div>
      </div>
      <div class="hstack gap-3">
        <div class="w-100">
          <%= f.label :tickets, class: "form-label" %>
          <%= f.select :tickets, options_for_select([1, 2, 3, 4], params[:tickets]), {}, { class: "form-select" } %>
        </div>
        <div class="w-100">
          <%= f.label :depart_date, class: "form-label" %>
          <%= f.select :depart_date, options_for_select(@flight_date_options, params[:depart_date]), {}, { class: "form-select"} %>
        </div>
      </div>
    </div>
    <div class="mt-4 hstack gap-3">
      <button type="submit" class="btn btn-primary">
        Apply Filters
        <i class="bi bi-funnel ms-2"></i>
      </button>
      <%= link_to "Clear Filters", flights_path, class: "btn btn-outline-secondary", method: :get, data: { turbo: false } %>
    </div>
  <% end %>
</div>